services:
  - type: web
    name: smoke-essentials-api
    env: node
    buildCommand: npm install && npm run build --workspace=packages/db && npm run build --workspace=packages/utils && npm run build --workspace=packages/types && npm run build --workspace=apps/api
    startCommand: npm run start --workspace=apps/api
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: NODE_ENV
        value: production
